.my-menu {
    font-family: sans-serif;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.logo-title {
    display: flex;
    align-items: center;
}

.logo-title span {
    margin-left: 10px;
}

@media only screen and (min-width: 1024px) {
    .mynav {
        position: relative;
    }

    .mydropdown {
        position: absolute;
        right: 0;
        margin-right: 50px;
    }
}