.ticket-page {
    max-height: 93vh;
    overflow: hidden;
}

.ticket-list {
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: auto;
    scroll-snap-align: center;
    scroll-behavior: smooth;
    max-height: 93vh;
}

.ticketList-cnt {
    margin-top: 30px;
    overflow-y: hidden;
}

.ticketList-cnt-void {
    margin-top: 25vh;
    overflow-y: hidden;
}